@model CommentCreateAVM
@{
    ViewData["Title"] = "Create Comment";
}
<div class="wrapper">
    <h2>Create</h2>
    <form method="post">
        <div class="input-box">
            <input asp-for="Content" placeholder="Enter your comment" required>
            <span asp-validation-for="Content"></span>
        </div>
        @*         <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
        </div> *@
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-box button">
            <input type="Submit" value="Create Now">
        </div>
    </form>
</div>